
// Links
a {
    &:visited, &:active {
        text-decoration: none !important;
    }
    &:hover {
        color: $link-color;
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
    color: $color-main-typography;
    text-decoration: none;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    -ms-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

// Typography
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}
h3 { font-weight: 600; }
p { font-weight: 300; color: #5c5c5c}

// General
body {
    background-color: $page-background-color;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 400;
    color: $font-color;
}

// Customizations - Colors, Backgrounds, Visiblity
.background-white {
    background-color: #fff;
}
.hidden {
    display: none;
}

.margin-t-20 { height: 20px; }
.margin-t-60 { height: 60px; }
