#globalWrap_admin {
  padding: 60px;
  button.google, button.github {
    background-color: rgb(255, 115, 0);
    border-radius: 20px;
    padding: 10px 40px;
    border: 0;
    color: #fff;
    text-decoration: none;
    font-size: 1.15em;
    @media screen and (max-width: 720px) {
      font-size: 10pt;
    }
    margin: 15px;
    &:hover {
      background-color: rgb(19, 129, 255);
    }
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -ms-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
}