.add-download {
  padding: 10px;
  border-radius: 10px;
  input {
    width: 50%;
    padding: 10px;
    border: none;
    border-bottom: 3px solid#e4e4e4;
    margin-bottom: 10px;
  }
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
  }
  input, textarea {
    &:focus, &:active { 
      outline: none !important;
    }
  }
  select, button {
    border: 2px;
    height: 40px;
    padding: 10px 20px 10px 20px;
    min-width: 100px;
    margin-right: 20px;
  }
  button {
    background-color: rgb(59, 59, 59);
    color: #fff;
  }
}

.video-list {
  cursor: pointer;
  a, a:visited {
    color: rgb(44, 44, 44);
  }
  .icon {
    margin-right: 10px;
    font-size: 16pt;
  }
  .title {
    font-weight: bold;
  }
}

.single-video-list {
  padding: 10px;
  background-color: #ffffff;
  &:hover {
    background-color: #f3f3f3;
  }
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  -ms-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}