#AddCardWrapper {
  padding: 40px;
  margin-top: 40px;
  border-top: 5px solid #a3a3a3; }

.single-card-wrapper {
  padding: 20px 20px 5px 20px;
  height: 350px;
  border-bottom: 5px solid #dadada; }
  .single-card-wrapper .single-card-operations {
    margin-top: 5px;
    opacity: 0;
    text-align: right; }
    .single-card-wrapper .single-card-operations span {
      margin: 10px;
      padding: 3px;
      cursor: pointer;
      background-color: #cfcfcf; }
  .single-card-wrapper:hover .single-card-operations {
    opacity: 1; }

.MarkdownPreviewWrapper {
  overflow: scroll;
  width: 100%;
  height: 250px; }

.ace-textarea {
  width: 100% !important;
  height: 250px !important;
  line-height: 23px; }

.control {
  text-align: right; }
  .control label {
    margin-right: 10px;
    color: #a3a3a3;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300; }
  .control .optionsStyle {
    text-transform: uppercase;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    font-weight: 600;
    color: #2c2c2c;
    margin-right: 20px; }

textarea {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: #3f3f3f;
  width: 100%;
  max-width: 100%;
  padding: 10px 20px 10px 20px;
  border: 2px solid #f3f3f3;
  border-radius: 5px; }
  textarea:hover {
    border: 2px solid #e9e9e9; }

textarea {
  height: 250px;
  resize: none; }
